<div class="row">
  <div class="col-lg-3 col-xs-12 sidecolumn">
    <ul class="category" style="margin-top: 50px;">
      <li>
        <button class="btn btn-link btn-block" (click)="getAllProduct()">
          All products
        </button>
      </li>
      <hr />
      <li>
        <button
          class="btn btn-link btn-block"
          (click)="getCategoryProduct('kids')"
        >
          Kids
        </button>
      </li>
      <hr />
      <li>
        <button
          class="btn btn-link btn-block"
          (click)="getCategoryProduct('men')"
        >
          Men
        </button>
      </li>
      <hr />
      <li>
        <button
          class="btn btn-link btn-block"
          (click)="getCategoryProduct('women')"
        >
          Women
        </button>
      </li>
    </ul>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div
        class="card col-lg-3 col-sm-6 col-xs-6  mt-3 border-light"
        style="text-align: center;"
        *ngFor="let product of productsData"
      >
        <img
          class="card-img-top mt-2"
          src="{{ product.imageUrl }}"
          alt=""
          style="width: 200px; height: 200px; text-align: center;"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: mediumblue;">
            {{ product.productName }}
          </h5>
          <p style="color: blue;">${{ product.price }}.00</p>
          <p style="color: blue;">category - {{ product.category }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
